h1 {
  margin: 0;
}

body {
  margin: 0;
}

.space-after {
  margin-bottom: 1000px;
}

.btn-reset {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

:root {
  --animation-time: 50s;
}

.hero {
  position: relative;
  width: 100%;
  height: 700px;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  background-color: #171717;
  overflow: hidden;
}

.hero__content-block {
  position: relative;
  z-index: 1;
  padding: 120px 0 120px 360px;
  color: #FFF;
}

.hero__title {
  padding-bottom: 60px;
  max-width: 1010px;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.hero__title-span {
  font-size: 45px;
  font-weight: 300;
  line-height: 110%;
}

.hero__descr {
  max-width: 500px;
  padding-bottom: 80px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.btn {
  padding: 15px 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border-radius: 5px;
  background-color: #FFF;
  color: #171717;
  cursor: pointer;
}

.hero__connect-button {
  margin-right: 25px;
}

.hero__connect-button:hover {
  background-color: #535961;
  color: #FFF;
}

.hero__connect-button:active {
  background-color: #FFF;
  color: #171717;
}

.hero__services-button {
  padding: 10px 40px;
  background-color: transparent;
  color: #FFF;
  border: 2px solid #FFF;
}

.glow1 {
  position: absolute;
  top: 219px;
  left: 200px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow:
    0 0 620px 60px #BFBFBF;
}

.glow2 {
  position: absolute;
  top: 622px;
  left: 1580px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow:
    0 0 620px 60px #BFBFBF;
}

/* .hero-animation {
  background-image: url(./img/abstr.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  background-size: 70%;
  animation: zoomInZoomOut var(--animation-time) infinite;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
} */

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  background: url(./img/abstr.svg);
  background-repeat: no-repeat;
  background-size: contain;
  animation: zoomInZoomOut var(--animation-time) infinite;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes zoomInZoomOut {

  0% {
    transform: scale(200%, 200%) rotate(-30deg);
    top: -10%;
    left: 20%;
  }

  12.5% {
    transform: scale(350%, 350%) rotate(-80deg);
    top: -110%;
    left: 10%;
  }

  25% {
    transform: scale(100%, 100%) rotate(-110deg);
    top: 20%;
    left: 20%;
  }

  37.5% {
    transform: scale(200%, 100%) rotate(0deg);
    top: 20%;
    left: -15%;
  }

  50% {
    transform: scale(100%, 200%) rotate(0deg);
    top: 50%;
    left: 10%;
  }

  62.5% {
    transform: scale(200%, 100%) rotate(0deg);
    top: 50%;
    left: 10%;
  }

  75% {
    transform: scale(100%, 100%) rotate(0deg);
    top: 50%;
    left: 10%;
  }

  87.5% {
    transform: scale(100%, 100%) rotate(0deg);
    top: 50%;
    left: 10%;
  }

  100% {
    transform: scale(100%, 100%) rotate(-360deg);
    top: -10%;
    left: 10%;
  }
}