h1 {
  margin: 0;
}

body {
  margin: 0;
}

.space-after {
  margin-bottom: 1000px;
}

.btn-reset {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

:root {
  --animation-time: 40s;
  --opacity-time: 3s;
}

.hero {
  position: relative;
  width: 100%;
  height: 700px;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  background-color: #171717;
  overflow: hidden;
}

.hero__content-block {
  position: relative;
  z-index: 1;
  padding: 120px 0 120px 360px;
  color: #FFF;
  opacity: 0;
  animation: opacity-title var(--opacity-time) forwards;
  animation-timing-function: ease-in-out;
}

@keyframes opacity-title {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero__title {
  padding-bottom: 60px;
  max-width: 1010px;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.hero__title-span {
  font-size: 45px;
  font-weight: 300;
  line-height: 110%;
}

.hero__descr {
  max-width: 500px;
  padding-bottom: 80px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.btn {
  width: 227px;
  padding: 15px 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border-radius: 5px;
  background-color: #FFF;
  color: #171717;
  cursor: pointer;
}

.hero__connect-button {
  margin-right: 25px;
}

.hero__connect-button:hover {
  background-color: #535961;
  color: #FFF;
}

.hero__connect-button:active {
  background-color: #FFF;
  color: #171717;
}

.hero__services-button {
  position: relative;
  box-sizing: border-box;
  padding: 15px 40px;
  padding-right: 64px;
  background-color: transparent;
  color: #FFF;
  border: 2px solid #FFF;
}

.button-arrow {
  position: absolute;
  left: 150px;
  top: 30%;
}

.glow1 {
  position: absolute;
  top: 119px;
  left: 100px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow:
    0 0 720px 70px #BFBFBF;
}

.glow2 {
  position: absolute;
  top: 522px;
  left: 1580px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow:
    0 0 920px 70px #BFBFBF;
}

/* .hero-animation {
  background-image: url(./img/abstr.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  background-size: 70%;
  animation: zoomInZoomOut var(--animation-time) infinite;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
} */

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  background: url(./img/abstr.svg);
  background-repeat: no-repeat;
  background-size: contain;
  animation: zoomInZoomOut var(--animation-time) infinite;
  animation-timing-function: ease-in-out;
  will-change: transform;
}

@keyframes zoomInZoomOut {

  0% {
    transform: scale(300%) rotate(0deg);
    top: -10%;
    left: 10%;
  }

  12.5% {
    transform: scale(100%) rotate(-30deg);
    top: -10%;
    left: 10%;
  }

  20% {
    transform: scale(150%) rotate(10deg);
    top: 0%;
    left: 0%;
  }

  27.5% {
    transform: scale(300%) rotate(-50deg);
    top: -120%;
    left: 15%;
  }

  50% {
    transform: scale(250%) rotate(-90deg);
    top: -110%;
    left: 20%;
  }

  62.5% {
    transform: scale(200%) rotate(-50deg);
    top: -70%;
    left: 20%;
  }

  72% {
    transform: scale(300%) rotate(-150deg);
    top: -30%;
    left: -40%;
  }

  90% {
    transform: scale(300%) rotate(-230deg);
    top: -30%;
    left: -20%;
  }

  97% {
    transform: scale(450%) rotate(-100deg);
    top: -5%;
    left: 0%;
  }

  100% {
    transform: scale(300%) rotate(0deg);
    top: -10%;
    left: 10%;
  }
}

@media (max-width: 769px) {

  .hero {
    max-height: 628px;
  }

  .hero::before {
    background-size: 90%;
    background-position-y: 110%;
    background-position-x: -150%;
  }

  .hero__content-block {
    padding: 80px 15px;
  }

  .hero__title {
    max-width: 290px;
    padding-bottom: 40px;
    font-size: 20px;
  }

  .hero__title-span {
    max-width: 290px;
    font-size: 20px;
    font-weight: 300;
    line-height: 110%;
  }

  .hero__descr {
    max-width: 290px;
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 110%;
  }

  .btn {
    width: 227px;
    padding: 15px 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    border-radius: 5px;
    background-color: #FFF;
    color: #171717;
    cursor: pointer;
  }
}