*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

input,
button,
textarea,
select {
  font: inherit;
}

.reset-list,
.reset-list li,
.reset-list ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.quiz {
  background-image: url(./img/background-img.svg);
  background-repeat: no-repeat;
  background-position: top -50px right;
}

.container {
  max-width: 1100px;
  margin: 0 auto;

  padding: 0 50px;
}

.quiz__tree-path {
  padding-bottom: 100px;
  font-size: 15px;
  color: #585B5E;
}

.quiz__prev-link {
  font-weight: 300;
}

.quiz__act-link {
  font-weight: 500;
}

.quiz__title {
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  color: #4B4E53;
}

.quiz__descr {
  padding-bottom: 60px;
  max-width: 590px;
  color: #585B5E;
}

.quiz__subtitle {
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  border-left: 2px solid black;
}

.quiz__form-text {
  padding-left: 15px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 120%;
  color: #585B5E;
}

.form {
  margin-bottom: 50px;
  color: #585B5E;
}

.form__status-choice-container {
  display: flex;
  margin-bottom: 40px;
}

.form__radio-choice {
  display: flex;
  justify-content: center;
  width: 387px;
  padding: 20px 40px;
  border: 1px solid #BFBFBF;
  border-radius: 2px;
}

.form__radio-choice:not(:last-child) {
  margin-right: 20px;
}

.form__radio {
  margin-right: 15px;
}

.quiz__contacts-info {
  font-weight: 400;
  color: #585B5E;
}

.quiz__contacts-container {
  margin-bottom: 150px;
}

.form__content-container {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  gap: 40px;
}

.form__pacient-status-container {
  display: none;
}

.form__specialist-status-container-1 {
  display: none;
}

.form__specialist-status-container-2 {
  display: none;
}

.form__specialist-status-container-3 {
  display: none;
}

.form__list {
  width: calc(100% / 2 - 40px);
  display: flex;
  flex-direction: column;
}

.form__list-item {
  display: flex;
  flex-direction: column;
}

.form__list-item:not(:last-child) {
  margin-bottom: 30px;
}


.form__container-flex {
  display: flex;
  padding-top: 12px;
  gap: 30px;
  height: 22px;
  align-content: center;
}

.form__container-flex:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #171717;
  vertical-align: middle;
}

.form__radio-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.form__input:focus {
  outline: none;
}

.form__input-text {
  height: 29px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  border: none;
  border-bottom: 1px solid #171717;
}

.form__input-select {
  margin-bottom: 30px;
  height: 29px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  border: none;
  border-bottom: 1px solid #171717;
}

.form__input-textarea {
  margin-bottom: 30px;
  height: 29px;
  min-height: 29px;
  overflow: hidden;
  resize: vertical;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  border: none;
  border-bottom: 1px solid #171717;
}

.form__agree-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__checkbox {
  margin-right: 15px;
}

.form__agree-link {
  padding-bottom: 2px;
  border-bottom: 1px solid #585b5e;
}