*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type=date] {
  background: url("./img/calendar_16\ px.svg") no-repeat 100% 50%;
}

.reset-list,
.reset-list li,
.reset-list ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --site-knopki: #535961;
  --site-bg-osnovnoy: #fff;
  --site-zagolovki: #4b4e53;
  --site-nabornyy: #585b5e;
  --site-hover: #101010;
  --site-bg-dopolnitelnyy: #171717;
  --site-glow-2: rgba(235, 235, 235, 0.6);
  --site-glow-1: #bfbfbf;
  --site-dissabled: #c1c1c1;
  --site-hover-2: #727272;
  --site-vspomogatelnyy-2: #5b5b5b;
  --site-vspomogatelnyy-5: #e0e5eb;
  --site-vspomogatelnyy-4: #f1f1f1;
  --site-mistake: #c80d0d;
}

.quiz {
  background-image: url(./img/background-img.svg);
  background-repeat: no-repeat;
  background-position: top -50px right;
}

.container {
  max-width: 1100px;
  margin: 0 auto;

  padding: 0 50px;
}

.quiz__tree-path {
  padding-bottom: 100px;
  font-size: 15px;
  color: var(--site-nabornyy);
}

.quiz__prev-link {
  font-weight: 300;
}

.quiz__act-link {
  font-weight: 500;
}

.quiz__title {
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  color: #4B4E53;
}

.quiz__descr {
  padding-bottom: 60px;
  max-width: 590px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--site-nabornyy);
}

.quiz__subtitle {
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  border-left: 2px solid black;
}

.quiz__form-text {
  padding-left: 15px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 120%;
  color: var(--site-nabornyy);
}

.quiz__preform-text {
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 140%;
  color: var(--site-nabornyy);
}

.quiz__preform-text-star {
  font-weight: 600;
  font-size: 16px;
}

.form {
  margin-bottom: 50px;
  color: var(--site-nabornyy);
}

.form__status-choice-container {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-bottom: 40px;
}

.form__choice-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.form__radio {
  position: absolute;
  appearance: none;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}

.form__radio:disabled+.form__radio-label-text {
  color: var(--site-dissabled);
}

.form__radio:disabled+.form__radio-label-text::before {
  background-image: url(./img/radio-disabled.svg);
}

.form__radio-label {
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.form__choice-label {
  text-align: center;
  width: 387px;
  padding: 20px 50px 20px 80px;
  border: 1px solid var(--site-vspomogatelnyy-5);
  border-radius: 2px;
}

.form__radio-label-text {
  display: block;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.form__radio-label-text::before {
  content: '';
  position: absolute;
  left: -35px;
  top: 50%;
  width: 20px;
  height: 20px;
  background-image: url(./img/radio-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

.form__radio-label-text::after {
  content: '';
  position: absolute;
  left: -31px;
  top: 50%;
  width: 12px;
  height: 12px;
  background-image: url(./img/radio-checked.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form__radio:hover+.form__radio-label {
  background: var(--site-vspomogatelnyy-5);
  color: var(--site-hover);
}

.form__radio-label:hover>.form__radio-label-text::before {
  opacity: 1;
}

.form__radio:checked+.form__choice-label {
  background: var(--site-vspomogatelnyy-5);
  color: var(--site-hover);
}

.form__radio:checked+.form__radio-label>.form__radio-label-text::after {
  opacity: 1;
}

.form__radio:checked+.form__radio-label-text::after {
  opacity: 1;
}

.form__radio:hover+.form__radio-label-text {
  color: var(--site-hover);
}

.form__radio:checked+.form__radio-label-text {
  color: var(--site-hover);
}

.form__radio:hover:disabled+.form__radio-label-text {
  color: var(--site-dissabled);
}

.form__radio {
  margin-right: 15px;
}

/* Стиль кнопок, которые используются для открытия и закрытия панели аккордеона */
.form__accordion {
  position: relative;
  background-color: inherit;
  color: var(--site-bg-dopolnitelnyy);
  cursor: pointer;
  padding: 40px 80px 10px 0;
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: var(--site-bg-dopolnitelnyy, -kartochki);
  border: none;
  outline: none;
  border-bottom: 2px solid var(--site-bg-dopolnitelnyy);
  user-select: none;
  transition: 0.4s;
}

.form__accordion::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0%;
  top: 50%;
  background-image: url(./img/arrow.svg);
  transform: rotate(0deg);
}

/* Добавить цвет фона для кнопки, если она нажата (добавить .активный класс с JS), а при наведении на него курсора мыши (наведите курсор) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Стиль аккордеон панели. Примечание: скрыто по умолчанию */
.form__accordion-container {
  margin-bottom: 50px;
}

.form__accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.form__accordion-block {
  display: flex;
  gap: 40px;
  padding-top: 30px;
  width: 100%;
  height: 100%;
}

.quiz__contacts-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.quiz__contacts-info {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: var(--site-nabornyy);
}

.quiz__contacts-container {
  margin-bottom: 150px;
}

.form__content-container {
  width: 100%;
  display: flex;
  gap: 40px;
}

.form__pacient-status-container {
  margin-bottom: 50px;
}

.form__list {
  width: calc(100% / 2 - 40px);
  display: flex;
  flex-direction: column;
}

.form__list-item {
  display: flex;
  flex-direction: column;
}

.form__list-item:not(:last-child) {
  margin-bottom: 30px;
}


.form__container-flex {
  display: flex;
  padding-top: 12px;
  gap: 30px;
  height: 22px;
  align-content: center;
}

.form__container-flex:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--site-bg-dopolnitelnyy);
  vertical-align: middle;
  transition: color 0.2s ease-in-out;
}

.form__radio-label-inside {
  position: relative;
  padding-left: 35px;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  user-select: none;
}

.form__input:focus {
  outline: none;
}

.form__input-text {
  height: 29px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  border: none;
  border-bottom: 1px solid var(--site-bg-dopolnitelnyy);
  transition: border-color 0.2s ease-in-out;
}

.form__input-text:hover {
  border-color: var(--site-hover-2);
}

#pregnancy-text {
  display: flex;
  flex-direction: column-reverse;
}

.form__input-text:disabled {
  background-color: inherit;
  border-color: var(--site-dissabled);
}

.form__input-text:disabled~.form__label {
  color: var(--site-hover-2);
}

#pregnancy-label {
  transition: color 0.2s ease-in-out;
}

.form__input-select {
  height: 29px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  border: none;
  border-bottom: 1px solid var(--site-bg-dopolnitelnyy);
  cursor: pointer;
}

.form__input-textarea {
  height: 29px;
  min-height: 29px;
  max-height: 202px;
  overflow: hidden;
  resize: vertical;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  border: none;
  border-bottom: 1px solid var(--site-bg-dopolnitelnyy);
}

.form__agree-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.form__checkbox {
  margin-right: 15px;
}

.form__agree-link {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--site-nabornyy);
}

.quiz__link {
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.quiz__link:hover {
  color: var(--site-hover);
  border-color: var(--site-hover);
}

.form__button {
  border: none;
  border-radius: 5px;
  padding: 15px 65px;
  background-color: #535961;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.form__button:hover {
  background-color: var(--site-hover);
}

.form__checkbox-label {
  user-select: none;
  cursor: pointer;
}

.form__checkbox {
  position: absolute;
  appearance: none;
}

.form__checkbox-text {
  display: block;
  position: relative;
  padding-left: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
}

.form__checkbox-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid var(--site-nabornyy);
  border-radius: 2px;
  transform: translateY(-50%);
  background-color: inherit;
  transition: background-color 0.3s ease-in-out, border-color 0.2s ease-in-out;
}

.form__checkbox-text::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  background-image: url(./img/checked.svg);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form__checkbox:checked+.form__checkbox-text::after {
  opacity: 1;
}

.form__checkbox:checked+.form__checkbox-text::before {
  background-color: var(--site-hover);
  border-color: var(--site-hover);
}

.form__checkbox-label:hover .form__checkbox-text::before {
  border-color: var(--site-hover);
}

.form__checkbox-mistake-text {
  display: none;
  margin-top: 0;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 140%;
  color: var(--site-mistake);
}

.form__input._error {
  box-shadow: 0 0 15px red;
}