*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.quiz {
  background-image: url(./img/background-img.svg);
  background-repeat: no-repeat;
  background-position: top -50px right;
}

.container {
  max-width: 1100px;
  margin: 0 auto;

  padding: 0 50px;
}

.quiz__tree-path {
  padding-bottom: 100px;
  font-size: 15px;
  color: #585B5E;
}

.quiz__prev-link {
  font-weight: 300;
}

.quiz__act-link {
  font-weight: 500;
}

.quiz__title {
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  color: #4B4E53;
}

.quiz__descr {
  padding-bottom: 60px;
  max-width: 590px;
  color: #585B5E;
}

.quiz__subtitle {
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  border-left: 2px solid black;
}

.quiz__form-text {
  padding-left: 15px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 120%;
  color: #585B5E;
}

.form {
  margin-bottom: 50px;
  color: #585B5E;
}

.form__status-choice-container {
  display: flex;
}

.form__radio-choice {
  display: flex;
  justify-content: center;
  width: 387px;
  padding: 20px 40px;
  border: 1px solid #BFBFBF;
  border-radius: 2px;
}

.form__radio-choice:not(:last-child) {
  margin-right: 20px;
}

.form__radio {
  margin-right: 15px;
}

.quiz__contacts-info {
  font-weight: 400;
  color: #585B5E;
}

.quiz__contacts-container {
  margin-bottom: 150px;
}