:root {
  --nav-gap: 60px;
  --text-color: #EC1B24;
  --primary-color: red;
  --hover-color: #E7CBC7;
}

a {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  background-color: #030E12;
}

.header__container {
  margin: 0 auto;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
}

.header__nav {}

.header__logo-container {
  width: 100px;
  height: 50px;
  background-image: url(../img/kisspng-makita-power-tool-dewalt-saw-company-logo-5ad633e77d8547.2908350515239874315141.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__nav-list {
  gap: var(--nav-gap);
}

.header__nav-link {
  position: relative;
  font-weight: 600;
  color: var(--text-color);
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.header__nav-link:focus {}

.header__nav-link:hover {
  color: var(--hover-color);
}

.header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__nav-link:active::after {
  opacity: 1;
}

.header__nav-link:active {
  color: var(--primary-color);
  outline: none;
}

.header__burger {
  display: none;
}

.section-hero {
  height: 80vh;
  padding: 0 30px;
  padding-top: 200px;
  background-color: #DC5248;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  color: var(--text-color);
  vertical-align: middle;
}

.section-hero__content {
  display: inline-block;
  padding: 50px 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
}